<a href="https://colab.research.google.com/github/jakelsabar/KKA-X-Semester-1/blob/main/2_Tipe_Variable_Nazril_Zakaria_X_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama = Nazril Zakaria

Kelas = X - 11

No. Absen = 24

#Konsep Dasar Variable

In [ ]:
print("jakelsabar@gmail.com")
print("jakelsabar@gmail.com")
print("jakelsabar@gmail.com")

jakelsabar@gmail.com
jakelsabar@gmail.com
jakelsabar@gmail.com

In [ ]:
email_user_1 = "jakelsabar@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

jakelsabar@gmail.com
jakelsabar@gmail.com
jakelsabar@gmail.com

#Peraturan Penamaan Variabel

In [ ]:
#Hanya diperbolehkan Menggunakan huruf, angka, dan underscore
email user 2 = "jakelsabar@gmail.com"

print(email user 2)

SyntaxError: invalid syntax (ipython-input-1560232284.py, line 2)

In [ ]:
#Tidak boleh didahului oleh angka
3_email_user = "jakelsabar@gmail.com"

print(3_email_user)

SyntaxError: invalid decimal literal (ipython-input-1564069319.py, line 2)

In [ ]:
email_user_3 = "jakelsabar@gmail.com"

print(email_user_3)

jakelsabar@gmail.com

In [ ]:
#Tidak boleh menggunakan kata kunci python
for = "jakelsabar@gmail.com"

print(for)

SyntaxError: invalid syntax (ipython-input-2587800784.py, line 2)

In [ ]:
For = "jakelsabar@gmail.com"

print(For)

jakelsabar@gmail.com

In [ ]:
print = "jakelsabar@gmail.com"

print(print)

TypeError: 'str' object is not callable

In [ ]:
Print = "jakelsabar@gmail.com"

print(Print)

jakelsabar@gmail.com

In [ ]:
#Tidak error tapi dianjurkan harus deskriptif
_ = "jakelsabar@gmail.com"

In [ ]:
print(_)

jakelsabar@gmail.com

In [ ]:
_ = "jakelsabar@gmail.com"

In [ ]:
print(_)

jakelsabar@gmail.com

#Assignment

In [ ]:
#Single assigment
nama_mahasiswa_1 =  "Alexandrio"

print(nama_mahasiswa_1

SyntaxError: incomplete input (ipython-input-339721516.py, line 4)

In [ ]:
#Multiple Assignment

# nama_barang_1 = "rinso"
# nama_barang_2 = "molto"

nama_barang_1, nama_barang_2 = "rinso", "molto"
print(nama_barang_1)
print(nama_barang_2)

rinso
molto

In [ ]:
#Assignment yang sama
nilai_devandra = nilai_willy = nilai_dzakki = 100

print(nilai_devandra)
print(nilai_willy)
print(nilai_dzakki)

100
100
100

In [ ]:
# Menimpa/Mengubah Nilai Variable

nilai_himam = 95

In [ ]:
print(nilai_himam)

95

In [ ]:
nilai_himam = 100

In [ ]:
print(nilai_himam)

NameError: name 'nilai_himam' is not defined

#Penggunaan Operator di Python

In [ ]:
#tanpa variabel
print(20 + 3)

23

In [ ]:
#operand disimpan kedalam variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

print(roti_swiss_alex + roti_swiss_nazril)

23

In [ ]:
#hasil operasi disimpan ke dalam variabel
jumlah_roti_swiss = 20+3

print(jumlah_roti_swiss)

23

In [ ]:
#operand dan hasil operasi disimpan ke variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

jumlah_roti_swiss = roti_swiss_alex + roti_swiss_nazril

print(jumlah_roti_swiss)

23

#Tugas

In [ ]:
print(24 * 3)

72

In [ ]:
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus

print(total_jumlah_botol)

72

#Operator Aritmatika

In [ ]:
buku_tulis_himam = 55
buku_tulis_vico = 15

In [ ]:
#Penjumlahan
total_buku_tulis = buku_tulis_himam + buku_tulis_vico
print(total_buku_tulis)

70

In [ ]:
#Pengurangan

selisih_buku_tulis = buku_tulis_himam - buku_tulis_vico
print(selisih_buku_tulis)

40

In [ ]:
#Perkalian
jumlah_kardus_buku_tulis = 3
isi_buku_tulis_perkardus = 10

total_buku_tulis = jumlah_kardus_buku_tulis * isi_buku_tulis_perkardus
print(total_buku_tulis)

30

In [ ]:
#Pembagian
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis / jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

3.3333333333333335

In [ ]:
#Pembagian bulat
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis // jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

3

In [ ]:
#sisa bagi

sisa_buku_tulis = total_buku_tulis % jumlah_anak_yatim
print(sisa_buku_tulis)

NameError: name 'total_buku_tulis' is not defined

#Operator Perbandingan

In [ ]:
print(6 >= 6)

True

In [ ]:
print(8 == 9)

False

In [ ]:
print(8 != 9)

True

In [ ]:
print(8 < 10)

True

In [ ]:
print(8 > 10)

False

#Operator Logika

In [ ]:
print(not(5 <= 5))

False

In [ ]:
print(8 > 7 and 6 < 5)

False

In [ ]:
print(7 <= 1 or 2 != 2)

False

In [ ]:
print(not(0 == 1 and 1 != 1))

True

In [ ]:
print(not(5 < 10 or 5 <= 10))

False